
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<address>
    Dane kontaktowe działu serwis:<br>
    Email: <a href="mailto:admin@servicehelp.pl">admin@servicehelp.pl</a> <br>
    Telefon: +48 22 123 45 65<br>
    Warszawa, Polska<br>
</address>