@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>WITAJ!</h1>
    <p class="lead">Witamy w systemie ServiceHelp. Zapoznaj się z systemem przechodząc do bazy wiedzy.</p>
    <p><a asp-controller="Information" asp-action="KnowledgeBase" class="btn btn-success btn-mg">Baza wiedzy &raquo;</a></p>
</div>